//FONT
$font-primary: 'Montserrat', sans-serif;

//COLOR
$color-primary: #fff;
$color-secondary: #0D0D0D;
$color-ternary: #00DB2F;
$color-compliment: #8C8C8C;
$color-btn-hovered: #08c030;

//BREAKPOINT
$bp-mobile: 31.25em; //500px

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px
    scroll-behavior: smooth;
  
    // @media only screen and (max-width: $bp-tablet) {
    //   font-size: 56.25%; //9px
    // }
    // @media only screen and (max-width: $bp-mobile) {
    //   font-size: 50%; //8px
    // }
}
  
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: $color-primary;
    font-family: $font-primary;
    font-weight: 400;
    color: $color-secondary;
    line-height: 1.6;
  }

.fixBody {
    height: 100%;
    overflow: hidden;
  }

.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}