.review {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    &__title {
        font-size: 3.8rem;
        font-weight: 700;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-auto-rows: min-content;
        grid-gap: 2rem;
    }

    &__profile {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        grid-gap: 2rem;
        padding: 3rem 2.5rem;
        border-radius: 4px;
        box-shadow: 0 8px 20px -4px rgba(9, 30, 66, .15);

    }
    
    &__header {
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
            width: 6rem;
            height: 6rem;
        }
    }

    &__desc {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;

        h1 {
            font-size: 1.8rem;
            font-weight: 600;
        }

        h2 {
            font-size: 1.6rem;
            font-weight: 400;
            color: $color-compliment;
        }
    }

    &__testimoni {
        text-align: justify;
        font-size: 1.4rem;
        font-weight: 500;
    }
}